.pullLeft {
	float: left;
}
.pullRight {
	float: right;
}

.panel {
	padding: 15px 0;
	border-radius: 0;
}

.panel.manager {
	background-color: #4E828A;
}

.green {
	color: #fff;
	background-color: #509621;
}

.wizard {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	-webkit-user-select: none;
	cursor: default;
}
.wizard.toLeft {
	flex-direction: row-reverse;
}
.wizard > div {
	position: relative;
	border: 1px solid #ccc;
	padding: 6px 24px;
	margin: 0 2px;
}
.wizard > div .name {
	font-weight: bold;
	text-transform: uppercase;
}
.wizard > div:not(.db) {
	white-space: nowrap;
	flex: 1;
}
.wizard > div:not(.db) > div {
	max-width: 100%;
	overflow: hidden;
}
.wizard .db {
	border-radius: 3px;
	padding: 20px;
	text-align: center;
}

.wizard > div:not(.db):before,
.wizard > div:not(.db):after {
	content: '';
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	z-index: 1;
}

.wizard.toLeft > div:not(.db):before {
	right: 100%;
	border-width: 20px 10px 20px 0;
	border-color: transparent #ccc transparent transparent;	
}

.wizard.toLeft > div:not(.db):after {
	right: 100%;
	margin-right: -1px;
	border-width: 20px 10px 20px 0;
	border-color: transparent #fff transparent transparent;
}

.wizard.toRight > div:not(.db):before {
	left: 100%;
	border-width: 20px 0 20px 10px;
	border-color: transparent transparent transparent #ccc;
}

.wizard.toRight > div:not(.db):after {
	left: 100%;
	margin-left: -1px;
	border-width: 20px 0 20px 10px;
	border-color: transparent transparent transparent #fff;
}


.wizard .static {
	border-color: #e2e2e2;
	color: #e2e2e2;
}
.wizard.toRight > div.static:before {
	border-color: transparent transparent transparent #e2e2e2;
}
.wizard.toLeft > div.static:before {
	border-color: transparent #e2e2e2 transparent transparent;
}

.wizard .ready {
	border-color: #AB951C;
	color: #000;
}
.wizard.toRight > div.ready:before {
	border-color: transparent transparent transparent #AB951C;
}
.wizard.toLeft > div.ready:before {
	border-color: transparent #AB951C transparent transparent;
}

.wizard .active {
	border-color: #AB951C;
	color: #fff;
	background-color: #AB951C;
}
.wizard.toRight > div.active:before,
.wizard.toRight > div.active:after {
	border-color: transparent transparent transparent #AB951C;
}
.wizard.toLeft > div.active:before,
.wizard.toLeft > div.active:after {
	border-color: transparent #AB951C transparent transparent;
}

.wizard .complete {
	border-color: #509621;
	color: #fff;
	background-color: #509621;
}
.wizard.toRight > div.complete:before,
.wizard.toRight > div.complete:after {
	border-color: transparent transparent transparent #509621;
}
.wizard.toLeft > div.complete:before,
.wizard.toLeft > div.complete:after {
	border-color: transparent #509621 transparent transparent;
}




@media (max-width: 1000px) {
	.wizard > div {
		font-size: 80%;
		padding: 4px 14px;
	}
}